<div class="right__part">
    <div class="cont cont1_1">
        <div class="common_form">
            <div class="common_title">
                <h2 class="h2">Termination of Employment</h2>
            </div>
            <div class="form_fields">
                <form>
                    <ul>
                        <li>
                            <label>Note: User can select a checkbox and According to the triggering action </label>
                            <div class="check_box_group permission_grp">
                                <div class="form-group">
                                    <input type="checkbox" id="Terminated">
                                    <label for="Terminated">Terminated</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <label>Termination Start Date</label>
                            <input type="text" placeholder="dd/mm/yyyy">
                        </li>
                        <li>
                            <label>Termination End Date</label>
                            <input type="text" placeholder="dd/mm/yyyy">
                        </li>
                        <li>
                            <label>Termination of emplyee</label>
                            <div class="file-input">
                                <input type="file">
                                <span class="label" data-js-label="">Upload file</span>
                                <span class="button"><img src="assets/image/upload.svg" alt="cloud"></span>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>