<div class="right__part">
<div class="cont cont1_1">
    <div class="common_form">
        <div class="common_title">
            <h2 class="h2">General</h2>
        </div>
        <div class="form_fields four_fields">
            <form>
                <ul>
                    <li>
                        <label>Employee Number</label>
                        <input type="text" placeholder="Enter Employee Number">
                    </li> 
                    <li>
                        <label>Current employee status</label>
                        <select>
                            Europe
                            <option>Germany  </option>
                            <option>Europe  </option>
                            <option>International  </option>
                            <option> Other</option>
                        </select>
                    </li>
                    <li>
                        <label>Employment Type </label>
                        <select>
                            <option>Consultant or Corporate</option>
                            <option>Team Leader</option>
                            <option>Project Leader</option>
                        </select>
                    </li>  
                    <li>
                        <label>Type of Employment </label>
                        <select>
                            <option>Freelancer </option>
                            <option>Full time </option>
                            <option>Part time</option>
                            <option>Intern </option>
                            <option>Student worker</option>
                            <option>Mini job</option>
                            <option>Midi job</option>
                        </select>
                    </li>
                    <li>
                        <label>Working Hours(per week) </label>
                        <input type="text" placeholder="Enter Working Hours">
                    </li> 
                    <li>
                        <label>Job Title</label>
                        <input type="text" placeholder="Enter Job Title">
                    </li> 
                    
                    
                    <li>
                        <label>Contractual Start Date</label>
                        <input type="text" placeholder="dd/mm/yyyy"  id="txtDate">
                    </li>
                    <li>
                        <label>Contractual End Date</label>
                        <input type="text" placeholder="dd/mm/yyyy"  id="txtDate">
                    </li>
                    <li>
                        <label>Employee Email</label>
                        <input type="text" placeholder="abc@companyname.com">
                    </li>

                </ul>
                <ul class="four_fields">
                    <li>
                        <label>First Name</label>
                        <input type="text" placeholder="Enter First Name">
                    </li>
                    <li>
                        <label>Middle Name</label>
                        <input type="text" placeholder="Enter Middle Name">
                    </li>
                    <li>
                        <label>Last Name</label>
                        <input type="text" placeholder="Enter Last Name">
                    </li> 
                    <li>
                        <label>Gender</label>
                        <select> 
                            <option>Female</option>
                            <option>Male</option> 
                            <option>Other</option> 
                        </select>
                    </li> 
                    <li>
                        <label>Birth Date</label>
                        <input type="text" placeholder="dd/mm/yyyy">
                    </li>
                    <li>
                        <label>Place of Birth City</label>
                        <input type="text" placeholder="Enter Place of Birth City">
                    </li>

                    <li>
                        <label>Place of Birth Country</label>
                        <input type="text" placeholder="Enter Place of Birth Country">
                    </li>
                    <li>
                        <label>Nationality</label>
                        <input type="text" placeholder="Enter Nationality">
                    </li>
                    <li>
                        <label>Tax Id Number</label>
                        <input type="text" placeholder="Enter Tax Id Number">
                    </li>
                    <li>
                        <label>Social Security Number</label>
                        <input type="text" placeholder="Enter Social Security Number">
                    </li>
                    <li>
                        <label>Tax class</label>
                        <select> 
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </li>
                    <li>
                        <label>Name of Health Insaurance</label>
                        <input type="text" placeholder="Enter Health Insaurance">
                    </li>
                    <li>
                        <label>Marrital Status</label>
                        <select> 
                            <option>Single</option>
                            <option>Married</option>
                            <option>Widowed</option>
                            <option>Divorced</option>
                        </select>
                    </li>
                    <li>
                        <label>Religious affiliation</label>
                        <input type="text" placeholder="Enter Religious affiliation">
                    </li>

                    <li>
                        <label>Profile Photo</label>
                        <div>
                            <div class="profile_img" >
                                <img src="assets/beautiful-beauty-blond-1587009.jpg">
                            </div>
                            <div class='file-input profile-btn-margin' >
                                <input type='file'>
                                <span class='label' data-js-label>Upload file</span>
                                <span class='button'><img src="assets/image/upload.svg" alt="cloud"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="test22">Personal Sheet</label>
                        <div class='file-input' >
                            <input type='file'>
                            <span class='label' data-js-label >Upload document (Personal Sheet)</span>
                            <span class='button'><img src="assets/image/upload.svg" alt="cloud"></span>
                        </div>
                    </li>
                    <li>
                        <label>Social Security File</label>
                        <div class='file-input' >
                            <input type='file'>
                            <span class='label' data-js-label >Upload document (SSN)</span>
                            <span class='button'><img src="assets/image/upload.svg" alt="cloud"></span>
                        </div>
                    </li> 
                    <!--<li class="profile_img">
                        <label>Profile Photo</label>
                        <img src="image/beautiful-beauty-blond-1587009.jpg">
                    </li>--> 
                   

                    <li>  
                        <label>Employee Status</label>
                        <select> 
                            <option>Active</option>
                            <option>In-Active</option>
                        </select>
                    </li>
                    <li>
                        <label>Annual Leave Entitlement </label>
                        <input type="text" placeholder="Enter Annual Leave Entitlement">
                        <!-- <div class="check_box_group permission_grp">
                            <div class="form-group">
                                <input type="checkbox" id="room">
                                <label for="room"> Annual Leave Entitlement</label>
                            </div>
                        </div> -->
                    </li>
                </ul>
                <ul class="two_li">
                    <li>
                        <!-- <label>Unlimited</label> -->
                        <div class="check_box_group permission_grp">
                            <div class="form-group">
                                <input type="checkbox" id="No1">
                                <label for="No1"> Unlimited</label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- <label>Adjusted End Date</label> -->
                        <div class="check_box_group permission_grp">
                            <div class="form-group">
                                <input type="checkbox" id="No2">
                                <label for="No2"> Adjusted End Date</label>
                            </div>
                        </div>
                    </li> 
                </ul>
                <ul class="">
                    <li>
                        <!-- <label>Terminated by</label> -->
                        <div class="check_box_group permission_grp">
                            <div class="form-group">
                                <input type="checkbox" id="No3">
                                <label for="No3"> Terminated by</label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label>Employee</label>
                        <select>
                            <option>Select Employee.. </option>                                                 
                        </select>
                    </li>
                    <li>
                        <label>Employer</label>
                        <select>
                            <option>Select Employer.. </option>                                                 
                        </select>
                    </li>
                    <li>
                        <label>Delivery method</label>
                        <select>
                            <option> Personal</option> 
                            <option> Personal with witnesses</option>  
                            <option> Courier</option> 
                            <option> Registered letter</option> 
                        </select>
                    </li>
                    <li>
                        <label> Date of receipt </label>
                       
                       
                        <input type="date"  placeholder="Date of receipt">
                       
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
</div>