<div class="right__part">
    <div class="cont cont1_1">
        <div class="common_form">
            <div class="common_title">
                <h2 class="h2">Leadership</h2>
            </div>
            <div class="form_fields">
                <form>
                    <ul>
                        <li>
                            <label>Leader 1</label>
                            <select>
                                <option>Team Leader - Name of person</option>
                                <option>Team Leader - Name of person</option>
                                <option>Team Leader - Name of person</option>
                            </select>
                        </li>
                        <li>
                            <label>Leader 2</label>
                            <select>
                                <option>COE - Name of person</option>
                                <option>COE - Name of person</option>
                                <option>COE - Name of person</option>
                            </select>
                        </li>
                        <li>
                            <label>Default Leader</label>
                            <select>
                                <option>HR</option>
                                <option>Project Leader</option>
                                <option>Sr.Developer</option>
                            </select>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>