 @import '../../../../styles/abstracts/variable';
.main-container {
  width: 100%;
}

.main {
  height: 100vh;
  width: 100%;
  position: relative;
}

.main:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 39%, 0 64%);
  background-color: dodgerblue;
}

.main:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 63%, 100% 39%, 100% 100%, 0% 100%);
  background-color: #1e1e1c;
}

.login_box {
  position: absolute;
  background: #f7fafc;
  box-shadow: 0px 3px 17px #2c28281c;
  border-radius: 10px;
  max-width: 476px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 99;
  padding: 60px 40px;

  .top_part {
    text-align: center;

    .loginlogo {
      max-width: 115px !important;
      height: 37px !important;
      margin: 0 auto 20px;
    }
  }

  .loginForm {
    .formfields {
      position: relative;
      margin-bottom: 15px;

      input[type="email"],
      input[type="password"] {
        border: 0;
        padding: 0 15px 0 60px;
        color: black    ;
        font-size: 14px;
        height: 50px;
        font-weight: 400;
        width: 100%;
        background: #f7fafc 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 4px #1717172e;
        border-radius: 5px;
      }

      input[type="password"]:focus,
      input[type="email"]:focus {
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 4px #1717172e;
        border-radius: 5px;
        outline: none;
      }

      img {
        height: 20px;
        position: absolute;
        left: 30px;
        width: 20px;
        top: 15px;
      }
      
      input[type="submit"],
      input[type="reset"] {
        background: #0c7cbf 0% 0% no-repeat padding-box;
        border-radius: 4px;
        font-size: 14px;
        min-width: 110px;
        height: 50px;
        color: #fff;
        border: none;
      }

      input[type="reset"]:hover,
      input[type="submit"]:hover {
        background-color: #1e1e1c;
        color: #fff;
        outline: none;
      }
    }

    .forgot_pwd {
      text-align: right;
      margin-bottom: 40px;
      a {
        color: #172b4d;
        text-decoration: underline;
        font-size: 14px;
      }
    }
    .btn {
      text-align: center;
    }
  }
}

input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #1e1e1c;
  color: #fff;
  outline: none;
}
