
<div class="main-container">
    <div class="main">

            <div class="login_box">
                <div class="top_part">
                    <img class="login_logo mb-lg-3 w-auto"  alt="logo">
                    <!-- src="../../../../../assets/image/logo.svg" -->
                    <p class="mb-lg-3">Reset Password</p>
                </div>
                <div class="loginForm">

                        <div class="row">
                            <div class="formfields w-100">
                                <div class="w-100">
                                    <input type="Password" id="Password" [(ngModel)]="ForgotPassword.newPassword" autocomplete="Password" matInput
                                            placeholder="Password">
                                    <img src="../../../../../assets/image/lock.svg" alt="mail-icon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="formfields w-100">
                                <div class="w-100">
                                    <input type="password" id="ConfPassword" [(ngModel)]="ForgotPassword.confirmPassword" autocomplete="ConfPassword" matInput
                                            placeholder="Confirm Password">
                                    <img src="../../../../../assets/image/lock.svg" alt="mail-icon">
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="formfields w-100">
                                <div class="btn">
                                    <input type="submit" value="Reset Password"  (click)="SetPassword()"/>

                                </div>
                            </div>
                        </div>


                </div>
            </div>



    </div>
</div>

