<div class="right__part">
    <div class="cont cont1_1">
        <div class="common_form">
            <div class="common_title">
                <h2 class="h2">Children information</h2>
            </div>
            <div class="form_fields four_fields">
                <form>
                    <ul class="one_fields">
                        <li>
                            <div class="check_box_group permission_grp">
                                <div class="form-group">
                                    <input type="checkbox" id="room">
                                    <label for="room"> Does the employee have children?</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="four_fields">
                        <li>
                            <label>First Name of child</label>
                            <input type="text" placeholder="First Name of child">
                        </li>
                        <li>
                            <label>Family name of child</label>
                            <input type="text" placeholder="Family name of child">
                        </li>
                        <li>
                            <label>Date of birth</label>
                            <input type="date" value="12/12/2023">
                        </li>
                        <li>
                            <label>Location where child is registered</label>
                            <input type="text" placeholder="Location">
                        </li>
                    </ul>
                    <ul class="one_fields">
                        <li>
                            <label>Self-disclosure on the number of children eligible for consideration to determine the
                                contribution to social care insurance.</label>
                            <div class="file-input">
                                <input type="file">
                                <span class="label" data-js-label="">Upload document (SSN)</span>
                                <span class="button"><img src="assets/image/upload.svg" alt="cloud"></span>
                            </div>
                        </li>
                        <li>
                            <label>For each child under 25 years a proof such as upload of birth certificate is
                                required.</label>
                            <div class="file-input">
                                <input type="file">
                                <span class="label" data-js-label="">Upload document (SSN)</span>
                                <span class="button"><img src="assets/image/upload.svg" alt="cloud"></span>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>