<div class="right__part">
    <div class="cont cont1_1">
        <div class="common_form">
            <div class="common_title">
                <h2 class="h2 mb-0">
                    {{ "i18n.employeeProfile.finance-details.bonus" | translate }}
                </h2>

            </div>
            <div >
                <div class="form-box">
                    <form (ngSubmit)="SaveBonus()">
                        <div class="form-fields popup-forms">
                            <div class="check_box_group permission_grp">
                                <div class="form-group">
                                    <input type="checkbox" id="bonusEntitlementCheckbox" name="bonusEntitlementCheckbox"
                                        [(ngModel)]="savebonus.entitlement">
                                    <label for="bonusEntitlementCheckbox">{{ "i18n.employeeProfile.finance-details.bonusDetails.bonusentitlement" | translate }}</label>
                                </div>
                            </div>

                            <div></div>
                            <div></div>
                            
                            <div *ngIf="savebonus.entitlement">
                                <label for="bonus-starting-date"> {{ "i18n.employeeProfile.finance-details.bonusDetails.startingDate" | translate }}</label>
                                <input type="date" id="bonus-starting-date" name="bonus-starting-date"
                                    [(ngModel)]="savebonus.startingDate">

                            </div>

                            <div *ngIf="savebonus.entitlement">
                                <label for="bonus-ending-date">{{ "i18n.employeeProfile.finance-details.bonusDetails.endingDate" | translate }}</label>
                                <input type="date" id="bonus-ending-date" name="bonus-ending-date"
                                    [(ngModel)]="savebonus.endingDate">

                            </div>

                            <div *ngIf="savebonus.entitlement">
                                <label for="bonus-amount">{{ "i18n.employeeProfile.finance-details.bonusDetails.bonusAmount" | translate }}</label>
                                <input type="text" id="bonus-amount" name="bonus-amount" placeholder="Enter Amount"
                                    [(ngModel)]="savebonus.bonusamount">
                            </div>



                            <div *ngIf="savebonus.entitlement">
                                <label for="Salary-type">{{ "i18n.employeeProfile.finance-details.bonusDetails.salaryType" | translate }}</label>
                                <select  name="Salary-type"
                                    (change)="onSalarytypeSelect($event)" aria-placeholder="Select Salary type">
                                    <ng-container >
                                        <option selected>{{ "i18n.employeeProfile.finance-details.bonusDetails.SelectSalaryType" | translate }}</option>
                                        <option *ngFor="let stype of salarytypedata" [selected]="stype.id == savebonus.salaryType" [value]="stype.id">
                                            {{ stype.salaryTypeName}}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary ml-25 mb-20"
                            value="{{ 'i18n.Common.Add' | translate }}" *ngIf="!savebonus.id" />
                        <input type="submit" class="btn btn-primary ml-25 mb-20"
                            value="{{ 'i18n.Common.Update' | translate }}" *ngIf="savebonus.id" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="right__part">
    <div class="cont cont1_1">
        <div class="common_form">
            <div class="common_title">
                <h2 class="h2 mb-0">
                    {{ "i18n.employeeProfile.finance-details.bonusDetails.bonusOverview" | translate }}
                </h2>
            </div>
            <div class="table_space">
                <div class="table_scroll">
                    <app-beon-grid *ngIf="columnDefs.length > 0" [showEditButton]="hasPermission('employeeprofile.Bonus.Edit')" [showDeleteButton]="hasPermission('employeeprofile.Bonus.Delete')"
                        [dataRowSource]="dataRowSource" [columnDefs]="columnDefs" (onEdit)="onEditClick($event)"
                        (onDelete)="onDeleteClick($event)" [totalPages]="totalPages" [totalItems]="totalItems"
                        (getDataRowsourse)="getDataRowsourse($event)" (ongridReady)="gridReady($event)"></app-beon-grid>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="Modal" *ngIf="showDeleteModal">
    <div class="Modal-content">
        <div class="Modal-header">
            <h2 class="fnt-color"><strong>{{ 'i18n.Common.DeleteConfirmation' | translate }}</strong></h2>
        </div>
        <div class="Modal-body">
            <span style="color: black">
                {{ 'i18n.Common.SureDelete' | translate }}
                <span> {{ DeleteBonus }} </span>
            </span>
        </div>
        <div class="Modal-footer">
            <button type="button" class="btn btn-secondary me-2" (click)="cancelDelete()" data-dismiss="modal">
                {{ 'i18n.Common.Cancel' | translate }}
            </button>
            <button type="button" class="btn btn-danger" (click)="deleteItem()">
                {{ 'i18n.Common.Delete' | translate }}
            </button>
        </div>
    </div>
</div>