<div class="common_form">
  <div class="common_title">
    <h2 class="h2 mb-0">
      {{ "i18n.configuration.leaveType" | translate }}
    </h2>
    <button #addBtn id="openModalButton" class="btn btn-primary" data-bs-toggle="modal"
      data-bs-target="#AddEditModalToggle" role="button" *ngIf="hasPermission('configuration.leavetype.Add')" >
      {{ "i18n.Common.Add" | translate }}
    </button>
  </div>
  <div class="search_count">
    <div class="search_right">
      <form (ngSubmit)="commonSearchWithinGrid()" (input)="onSearchInput($event)" class="reset">
        <input type="search" [placeholder]="'i18n.Common.Search' | translate" name="commonSearchText" [(ngModel)]="searchText" />
        <input type="submit" value="Search" />
      </form>
    </div>
  </div>

  <div class="table_space">
    <div class="table_scroll">
      <app-beon-grid *ngIf="columnDefs.length > 0" [showEditButton]="hasPermission('configuration.leavetype.Edit')" [showDeleteButton]="hasPermission('configuration.leavetype.Delete')" [dataRowSource]="dataRowSource"
        [columnDefs]="columnDefs" (onEdit)="onEditClick($event)" (onDelete)="onDeleteClick($event)"[totalPages]="totalPages"
        [totalItems]="totalItems"
        (getDataRowsourse)="getDataRowsourse($event)"
        (ongridReady)="gridReady($event)"></app-beon-grid>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" aria-labelledby="AddEditModalToggleLabel" #addEditModal id="AddEditModalToggle"
  aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered custom-modal-width">
    <div class="form-box modal-content">
      <div class="popup">
        <div class="popup-title">
          <h3 *ngIf="leavetype.id">
            {{
            "i18n.configuration.leaveTypeDetails.editLeaveType"
            | translate
            }}
          </h3>
          <h3 *ngIf="!leavetype.id">
            {{
            "i18n.configuration.leaveTypeDetails.AddLeaveType" | translate
            }}
          </h3>
        </div>
        <div>
          <button type="button" #closeButton (click)="closeModal()" class="btn-close btn-close-white"
            data-bs-dismiss="modal"></button>
        </div>
      </div>
      <form (ngSubmit)="saveLeaveType()">
        <div class="form-fields three-column popup-forms">
          <div>
            <label for="Category">{{
              "i18n.configuration.leaveTypeDetails.Category"
              | translate
              }}</label>
            <select  name="leaveCategory" (change)="onCategorySelect($event)"
              aria-placeholder="Category">
              <!-- Leavetype:any change if confusion -->
              <ng-container >
                <option selected> {{
                  "i18n.configuration.leaveTypeDetails.SelectLeaveCategory"
                  | translate
                  }}</option>
                <option *ngFor="let item of Leavetypes" [selected]="item.id == leavetype.categoryName" [value]="item.id">
                  {{ item.name}}
                </option>
              </ng-container>
            </select>
          </div>

          <div>
            <label for="leaveType">{{
              "i18n.configuration.leaveTypeDetails.LeaveType" | translate
              }}</label>
            <input type="text" id="leaveType" name="leaveType" [(ngModel)]="leavetype.typeName" placeholder="{{
              'i18n.configuration.leaveTypeDetails.AnnualLeave' | translate
            }}" required />
          </div>
        </div>
        <input type="submit" class="btn btn-primary ml-25 mb-20" value="{{ 'i18n.Common.Update' | translate }}"
          *ngIf="leavetype.id" />
        <input type="submit" class="btn btn-primary ml-25 mb-20" value="{{ 'i18n.Common.Add' | translate }}"
          *ngIf="!leavetype.id" />
      </form>
    </div>
  </div>
</div>
<!--Delete Modal -->
<div class="Modal" *ngIf="showDeleteModal">
  <div class="Modal-content">
    <div class="Modal-header">
      <h2 class="fnt-color"><strong>{{ 'i18n.Common.DeleteConfirmation' | translate }}</strong></h2>
    </div>
    <div class="Modal-body">
      <span>
        Are you sure you want to delete
        <span> {{ deleteLeaveType }} </span>
      </span>
    </div>
    <div class="Modal-footer">
      <button type="button" class="btn btn-secondary me-2" (click)="cancelDelete()" data-dismiss="modal">
        {{ 'i18n.Common.Cancel' | translate }}
      </button>
      <button type="button" class="btn btn-danger" (click)="deleteItem()">
        {{ 'i18n.Common.Delete' | translate }}
      </button>
    </div>
  </div>
</div>