<div class="right__part">
    <div class="cont cont1_1">
        <div class="common_form">
            <div class="common_title">
                <h2 class="h2">End of Employment</h2>
            </div>
            <div class="form_fields">
                <form>
                    <ul>
                        <li>
                            <label>Notice Period Start Date</label>
                            <input type="text" placeholder="dd/mm/yyyy">
                        </li>
                        <li>
                            <label>Notice Period End Date</label>
                            <input type="text" placeholder="dd/mm/yyyy">
                        </li>
                        <li></li>

                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>