<div class="header">
    <p>Manage Role</p>
    <button class="btn_add" data-bs-toggle="modal" href="#AddEditModalToggle" role="button"> Add </button>
</div>
<div class="modal fade" id="exampleModalToggle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal-width">
        <div class="form-box modal-content">
            <div class="popup">
                <div class="popup-title">
                    <h3>Add Role</h3>
                </div>
                <div>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        style="color: white;"></button>
                </div>
            </div>
        
            <form>
                <div class="form-fields three-column popup-forms">
                    <div>
                        <label for="Rolename">Rolename</label>
                        <input type="text" id="Rolename" name="rolename" ngModel placeholder="Rolename">
                    </div>
                    <div>
                        <label for="Description">Description</label>
                        <textarea id="description" name="Description" rows="5" ngModel placeholder="Description"></textarea>
                    </div>
                    <input type="submit" class="btn btn-primary ml-25" value="Add"></div>
            </form>
        </div>
    </div>
</div>
