<div class="right__part">
    <div class="cont cont1_1">
        <div class="common_form">
            <div class="common_title">
                <h2 class="h2">Probation</h2>
            </div>
            <div class="form_fields">
                <form>
                    <ul>
                        <li>
                            <label>Start Date</label>
                            <input type="text" placeholder="dd/mm/yyyy">
                        </li>
                        <li>
                            <label>End Date</label>
                            <input type="text" placeholder="dd/mm/yyyy">
                        </li>
                        <li></li>
                        <li>
                            <label>Note: User can select a checkbox and According to the triggering action </label>
                            <div class="check_box_group permission_grp">
                                <div class="form-group">
                                    <input type="checkbox" id="Leave">
                                    <label for="Leave"> Is Adjusted End Date</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <label>Adjusted End Date</label>
                            <input type="text" placeholder="dd/mm/yyyy">
                        </li>
                        <li>
                            <label>Adjusted of emplyee document</label>
                            <div class="file-input" >
                                <input type="file">
                                <span class="label" data-js-label="">Upload file</span>
                                <span class="button"><img src="assets/image/upload.svg" alt="cloud"></span>
                            </div>
                        </li>
                        <li>
                            <label>Note: User can select a checkbox and According to the triggering action </label>
                            <div class="check_box_group permission_grp">
                                <div class="form-group">
                                    <input type="checkbox" id="Unlimited">
                                    <label for="Unlimited"> Unlimited</label>
                                </div>
                            </div>
                        </li>
                        <li></li>
                        <li></li>
                    </ul>

                </form>
            </div>
        </div>


    </div>
</div>