<div class="header">
    <p>{{ 'i18n.configuration.languageLevelDetails.manageeducationlevel' | translate }}</p>
    <button class="btn_add" data-bs-toggle="modal" data-bs-target="#AddEditModalToggle" role="button">
      {{ 'i18n.configuration.slgGroupDetails.add' | translate }}
    </button>
  </div>

  <div class="modal fade" id="exampleModalToggle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal-width">
      <div class="form-box modal-content">
        <div class="popup">
          <div class="popup-title">
            <h3>{{ 'i18n.configuration.languageLevelDetails.addeducationlevel' | translate }}</h3>
          </div>
          <div>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
          </div>
        </div>
        <form  (ngSubmit)="Savelanguagelevel()">
          <div class="form-fields three-column popup-forms">

            <div>
              <label for="relevant-work-experience">{{ 'i18n.configuration.languageLevelDetails.educationlevel' | translate }}</label>
              <input type="text" id="relevant-work-experience" name="relevantExperience"
                placeholder="{{ 'i18n.configuration.languageLevelDetails.graduation' | translate }}" required>
            </div>
          </div>
          <input type="submit" class="btn btn-primary ml-25" value="{{ 'i18n.configuration.languageLevelDetails.add' | translate }}">
        </form>
      </div>
    </div>
  </div>

<div class="header">
    <p>{{ 'i18n.configuration.languageLevelDetails.managelanguagelevel' | translate }}</p>
    <button class="btn_add" data-bs-toggle="modal" data-bs-target="#AddEditModalToggle" role="button">
      {{ 'i18n.configuration.languageLevelDetails.add' | translate }}
    </button>
  </div>

  <div class="modal fade" id="exampleModalToggle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal-width">
      <div class="form-box modal-content">
        <div class="popup">
          <div class="popup-title">
            <h3>{{ 'i18n.configuration.languageLevelDetails.addlanguagelevel' | translate }}</h3>
          </div>
          <div>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
          </div>
        </div>
        <form  (ngSubmit)="Savelanguagelevel()">
          <div class="form-fields three-column popup-forms">

            <div>
              <label for="LanguageLevel">{{ 'i18n.configuration.languageLevelDetails.languagelevel' | translate }}</label>
              <input type="text" id="Language Level" name="level" [(ngModel)]="Language.level"
                placeholder="{{ 'i18n.configuration.languageLevelDetails.medium' | translate }}" required>
            </div>
          </div>
          <input type="submit" class="btn btn-primary ml-25" value="{{ 'i18n.configuration.languageLevelDetails.add' | translate }}">
        </form>
      </div>
    </div>
  </div>
