<div class="common_form">
  <div class="common_title">
    <h2 class="h2 mb-0">
      {{ "i18n.configuration.managePublicHoliday" | translate }}
    </h2>
    <button #addBtn id="openModalButton" class="btn btn-primary" data-bs-toggle="modal"
      data-bs-target="#AddEditModalToggle" role="button" *ngIf="hasPermission('configuration.managepublicholidays.Add')" >
      {{ "i18n.Common.Add" | translate }}
    </button>
  </div>

  <div class="search_count">
    <div class="search_right">
      <form (ngSubmit)="commonSearchWithinGrid()" (input)="onSearchInput($event)" class="reset">
        <input type="search" [placeholder]="'i18n.Common.Search' | translate" name="commonSearchText" [(ngModel)]="searchText" />
        <input type="submit" value="Search" />
      </form>
    </div>
  </div>

  <div class="table_space">
    <div class="table_scroll">
      <app-beon-grid *ngIf="columnDefs.length > 0" [showEditButton]="hasPermission('configuration.managepublicholidays.Edit')" [showDeleteButton]="hasPermission('configuration.managepublicholidays.Delete')" [dataRowSource]="dataRowSource"
        [columnDefs]="columnDefs" (onEdit)="onEditClick($event)" (onDelete)="onDeleteClick($event)"
        [totalPages]="totalPages" [totalItems]="totalItems" (getDataRowsourse)="getDataRowsourse($event)"
        (ongridReady)="gridReady($event)"></app-beon-grid>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" aria-labelledby="AddEditModalToggleLabel" #addEditModal id="AddEditModalToggle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-modal-width">
    <div class="form-box modal-content">
      <div class="popup">
        <div class="popup-title">
          <h3 *ngIf="publicHoliday.id">
            {{
            "i18n.configuration.managePublicHolidayDetails.editHoliday"
            | translate
            }}
          </h3>
          <h3 *ngIf="!publicHoliday.id">
            {{
            "i18n.configuration.managePublicHolidayDetails.addHoliday" | translate
            }}
          </h3>
        </div>
        <div>
          <button type="button" #closeButton (click)="closeModal()" class="btn-close btn-close-white"
            data-bs-dismiss="modal"></button>
        </div>
      </div>
      <form (ngSubmit)="savePublicHoliday()">
        <div class="form-fields three-column popup-forms">
          <div>
            <label for="Country">{{
              "i18n.configuration.managePublicHolidayDetails.Country"
              | translate
              }}</label>
            <!-- <select [(ngModel)]="publicHoliday.country" name="country" (change)="onSelect($event)"
              aria-placeholder="select Country">
              <ng-container *ngFor="let item of Country">
                <option [selected]="item.id == publicHoliday.country" [value]="item.id">
                  {{ item.countryName }}
                </option>
              </ng-container>
            </select> -->
            <ng-select class="ng-selects" [(ngModel)]="publicHoliday.country" name="Country" (ngModelChange)="onSelect($event)"
            aria-placeholder="Select Country">
                <ng-option *ngFor="let item of Country"  [value]="item.id">
                  {{item.countryName}}
                </ng-option>
              </ng-select>
          </div>
        </div>
        <div class="form-fields three-column popup-forms">
          <div>
            <label for="State">{{
              "i18n.configuration.managePublicHolidayDetails.State/Region"
              | translate
              }}</label>
            <!-- <select [(ngModel)]="publicHoliday.state" name="state" (change)="onStateSelect($event)"
              aria-placeholder="select State">
              <ng-container *ngFor="let items of filteredStates">
                <option [selected]="items.id == publicHoliday.state" [value]="items.id">
                  {{ items.name }}
                </option>
              </ng-container>
            </select> -->
            <ng-select class="ng-selects" [(ngModel)]="publicHoliday.state" name="State" (ngModelChange)="onStateSelect($event)" aria-placeholder="Select State">
              <ng-option *ngFor="let state of filteredStates" [value]="state.id">
                {{state.name}}
              </ng-option>
            </ng-select>
          </div>
        </div>
        <div class="form-fields three-column popup-forms">
          <div>
            <label for="HolidayName">{{
              "i18n.configuration.managePublicHolidayDetails.HolidayName" | translate
              }}</label>
            <input type="text" id="holidayName" name="holidayName" [(ngModel)]="publicHoliday.holidayName" placeholder="{{
                'i18n.configuration.managePublicHolidayDetails.HolidayName' | translate
              }}" required />
          </div>

          <div>
            <label for="HolidayDate">{{
              "i18n.configuration.managePublicHolidayDetails.HolidayDate"
              | translate
              }}</label>
            <input type="date" id="HolidayDate" name="HolidayDate" [(ngModel)]="publicHoliday.holidayDate" placeholder="{{
                'i18n.configuration.managePublicHolidayDetails.HolidayDate'
                  | translate
              }}" required />
          </div>

        </div>
        <input type="submit" class="btn btn-primary ml-25 mb-20" value="{{ 'i18n.Common.Update' | translate }}"
          *ngIf="publicHoliday.id" />
        <input type="submit" class="btn btn-primary ml-25 mb-20" value="{{ 'i18n.Common.Add' | translate }}"
          *ngIf="!publicHoliday.id" />
        <!-- <input
            type="submit"
            class="btn btn-primary ml-25 mb-20"
            [value]='Designation.id ? "{{'i18n.Common.Update' | translate}}":"{{'i18n.Common.Add' | translate}}"'
          /> -->
      </form>
    </div>
  </div>
</div>
<!--Delete Modal -->
<div class="Modal" *ngIf="showDeleteModal">
  <div class="Modal-content">
    <div class="Modal-header">
      <h2 class="fnt-color"><strong>{{ 'i18n.Common.DeleteConfirmation' | translate }}</strong></h2>
    </div>
    <div class="Modal-body">
      <span style="color: black">
        {{ 'i18n.Common.SureDelete' | translate }}
        <span> {{ deletePublicHoliday }} ?</span>
      </span>
    </div>
    <div class="Modal-footer">
      <button type="button" class="btn btn-secondary me-2" (click)="cancelDelete()" data-dismiss="modal">
        {{ 'i18n.Common.Cancel' | translate }}
      </button>
      <button type="button" class="btn btn-danger" (click)="deleteItem()">
        {{ 'i18n.Common.Delete' | translate }}
      </button>
    </div>
  </div>
</div>