<div class="right__part">
    <div class="cont cont1_1">
        <div class="common_form">
            <div class="common_title">
                <h2 class="h2 mb-0">
                    <p>{{'i18n.employeeProfile.personal-details.jobHistory'|translate}}</p>
                </h2>

            </div>

            <div>
                <div class="form-box">
                    <form (ngSubmit)="SaveJobHistory()">
                        <div class="form-fields popup-forms">

                            <div>
                                <label
                                    for="Company Name">{{'i18n.employeeProfile.personal-details.job-History-Details.companyname'|translate}}</label>
                                <input type="text" id="Company Name" name="Company Name"
                                    [(ngModel)]="jobHistory.companyName"
                                    placeholder="{{'i18n.employeeProfile.personal-details.job-History-Details.companyname'|translate}}"
                                    required />
                            </div>

                            <div>
                                <label
                                    for="Postion Held">{{'i18n.employeeProfile.personal-details.job-History-Details.postionheld'|translate}}</label>
                                <input type="text" id="Postion Held" name="Postion Held"
                                    [(ngModel)]="jobHistory.positionHeld"
                                    placeholder="{{'i18n.employeeProfile.personal-details.job-History-Details.postionheld'|translate}}"
                                    required />
                            </div>



                            <div>
                                <label
                                    for="TypeofEmployeement">{{'i18n.employeeProfile.personal-details.job-History-Details.typeofemployeement'|translate}}</label>
                                <div class="select-wrapper">
                                    <select 
                                        (change)="onEmployeeTypeSelect($event)" name="TypeofEmployeement"
                                        aria-placeholder="Select Employment">
                                        <ng-container >
                                            <option selected>{{'i18n.employeeProfile.personal-details.job-History-Details.SelectTypeOfEmployment'|translate}}</option>
                                            <option *ngFor="let item of TypeofEmployment" [selected]="item.id == jobHistory.employmentType" [value]="item.id">
                                                {{ item.translationKey | translate }}
                                            </option>
                                        </ng-container>
                                    </select>
                                    <div class="select-arrow"></div>
                                </div>
                            </div>

                            <div>
                                <label
                                    for="ZipCode">{{'i18n.employeeProfile.personal-details.job-History-Details.zipCode'|translate}}</label>
                                <input type="text" id="ZipCode" name="ZipCode" [(ngModel)]="jobHistory.zipCode"
                                    placeholder="{{'i18n.employeeProfile.personal-details.job-History-Details.zipCode'|translate}}"
                                    required />
                            </div>

                            <div>
                                <label
                                    for="Country">{{'i18n.employeeProfile.personal-details.job-History-Details.country'|translate}}
                                </label>

                                <!-- <select [(ngModel)]="jobHistory.country" name="Country" (change)="onSelect($event)" aria-placeholder="Select Country">
                                    <ng-container *ngFor="let item of country">
                                        <option [selected]="item.id === jobHistory.country" [value]="item.id">
                                            {{ item.countryName }}
                                        </option>
                                    </ng-container>
                                </select> -->
                                <ng-select class="ng-selects" [(ngModel)]="jobHistory.country" name="Country"
                                    (ngModelChange)="onSelect($event)" aria-placeholder="Select Country">
                                    <ng-option *ngFor="let item of country" [value]="item.id">
                                        {{item.countryName}}
                                    </ng-option>
                                </ng-select>


                            </div>
                            <div>
                                <label
                                    for="state">{{'i18n.employeeProfile.personal-details.job-History-Details.state'|translate}}
                                </label>

                                <!-- <select [(ngModel)]="jobHistory.stateId" name="State" (change)="onStateSelect($event)"  aria-placeholder="Select State">
                                    <ng-container *ngFor="let state of filteredStates">
                                        <option [selected]="state.id === jobHistory.stateId" [value]="state.id">
                                            {{ state.name}}
                                        </option>
                                    </ng-container>
                                </select> -->


                                <ng-select class="ng-selects" [(ngModel)]="jobHistory.stateId" name="State"
                                    (ngModelChange)="onStateSelect($event)" aria-placeholder="Select State">
                                    <ng-option *ngFor="let state of filteredStates" [value]="state.id">
                                        {{state.name}}
                                    </ng-option>
                                </ng-select>
                            </div>

                            <div>
                                <label
                                    for="City">{{'i18n.employeeProfile.personal-details.job-History-Details.city'|translate}}</label>

                                <!-- <select [(ngModel)]="jobHistory.city" name="city" (change)="onCitySelect($event)"
                                aria-placeholder="Select City">
                                <ng-container *ngFor="let city of filteredCity">
                                <option  [selected]="city.id == jobHistory.city" [value]="city.id">{{ city.name }}</option>
                            </ng-container>
                            </select> -->
                                <ng-select class="ng-selects" [(ngModel)]="jobHistory.city" name="city"
                                    (change)="onCitySelect($event)" aria-placeholder="Select City
                            ">
                                    <ng-option *ngFor="let city of filteredCity" [value]="city.id">
                                        {{city.name}}
                                    </ng-option>
                                </ng-select>
                            </div>
                            <div>
                                <label
                                    for="Start-Date">{{'i18n.employeeProfile.personal-details.job-History-Details.startdate'|translate}}</label>
                                <input type="date" id="Start Date" name="Start Date" [(ngModel)]="jobHistory.startDate"
                                    max="{{ getCurrentDate() | date: 'yyyy-MM-dd' }}">

                            </div>
                            <div>
                                <label
                                    for="End-Date">{{'i18n.employeeProfile.personal-details.job-History-Details.enddate'|translate}}</label>
                                <input type="date" id="End-Date" name="End-Date" [(ngModel)]="jobHistory.endDate"
                                    min="{{ getCurrentDate() | date: 'yyyy-MM-dd' }}">

                            </div>
                            <div>
                                <label for="Upload-Document"
                                    class="file-label">{{'i18n.employeeProfile.personal-details.job-History-Details.uploadDocument'|translate}}
                                    <i class="fas fa-cloud-upload-alt"></i>
                                    <div class="file-input-box">
                                        <input type="file" id="Upload-Document" #DocumentUpload name="Upload-Document"
                                            style="display: none;" (change)="onFileSelected($event)">
                                        <div class="file-name">{{ selectedFileName }}</div>
                                        <i class="bi bi-cloud-upload"></i>
                                    </div>
                                </label>
                            </div>

                            <div>
                                <!-- BLANK -->
                            </div>

                            <div>
                                <!-- BLANK -->
                            </div>
                            <div>
                                <label for="leaving reason">
                                    {{'i18n.employeeProfile.personal-details.job-History-Details.message'|translate}}</label>
                                <textarea id="leavingReason" name="leavingReason"
                                    placeholder="{{'i18n.employeeProfile.personal-details.job-History-Details.message'|translate}}"
                                    [(ngModel)]="jobHistory.leavingReason"
                                    style="width: 100%; height: 100px; resize: none;"></textarea>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary ml-25 mb-20"
                            value="{{ 'i18n.Common.Add' | translate }}" *ngIf="!jobHistory.id" />
                        <input type="submit" class="btn btn-primary ml-25 mb-20"
                            value="{{ 'i18n.Common.Update' | translate }}" *ngIf="jobHistory.id" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="right__part">
    <div class="cont cont1_1">
        <div class="common_form">
            <div class="common_title">
                <h2 class="h2 mb-0">
                    <p>{{'i18n.employeeProfile.personal-details.job-History-Details.previousjobhistory'|translate}}</p>
                </h2>
            </div>
            <div class="table_space">
                <div class="table_scroll">
                    <app-beon-grid *ngIf="columnDefs.length > 0" [showDownloadButton]="showDownload"
                        [showEditButton]="hasPermission('employeeprofile.jobhistory.Edit')"
                        [showDeleteButton]="hasPermission('employeeprofile.jobhistory.Delete')"
                        [dataRowSource]="dataRowSource" [columnDefs]="columnDefs" (onEdit)="onEditClick($event)"
                        (onDelete)="onDeleteClick($event)" (onDownload)="onDownloadClick($event)"
                        [totalPages]="totalPages" [totalItems]="totalItems"
                        (getDataRowsourse)="getDataRowsourse($event)" (ongridReady)="gridReady($event)">
                    </app-beon-grid>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Delete Modal -->
<div class="Modal" *ngIf="showDeleteModal">
    <div class="Modal-content">
        <div class="Modal-header">
            <h2 class="fnt-color"><strong>{{ 'i18n.Common.DeleteConfirmation' | translate }}</strong></h2>
        </div>
        <div class="Modal-body">
            <span style="color: black">
                {{ 'i18n.Common.SureDelete' | translate }}
                <span> {{ DeleteJobHistory }} </span>
            </span>
        </div>
        <div class="Modal-footer">
            <button type="button" class="btn btn-secondary me-2" (click)="cancelDelete()" data-dismiss="modal">
                {{ 'i18n.Common.Cancel' | translate }}
            </button>
            <button type="button" class="btn btn-danger" (click)="deleteItem()">
                {{ 'i18n.Common.Delete' | translate }}
            </button>
        </div>
    </div>
</div>