<div class="common_form">
  <div class="common_title">
    <h2 class="h2 mb-0">
      {{
      "i18n.configuration.educationLevelDetails.manageeducationlevel"
      | translate
      }}
    </h2>
    <button #addBtn class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddEditModalToggle" role="button" 
    *ngIf="hasPermission('configuration.educationlevel.Add')" >
      {{ "i18n.configuration.educationLevelDetails.add" | translate }}
    </button>
  </div>

  <div class="search_count">
    <div class="search_right">
      <form (ngSubmit)="commonSearchWithinGrid()" (input)="onSearchInput($event)" class="reset">
        <input type="search"[placeholder]="'i18n.Common.Search' | translate" name="commonSearchText" [(ngModel)]="searchText" />
        <input type="submit" value="Search" />
      </form>
    </div>
  </div>

  <div class="table_space">
    <div class="table_scroll">
      <app-beon-grid *ngIf="columnDefs.length > 0" [showEditButton]="hasPermission('configuration.educationlevel.Edit')" [showDeleteButton]="hasPermission('configuration.educationlevel.Delete')" [dataRowSource]="dataRowSource"
        [columnDefs]="columnDefs" [showPagination]="true" (onEdit)="onEditClick($event)"
        (onDelete)="onDeleteClick($event)" [totalPages]="totalPages" [totalItems]="totalItems"
        (getDataRowsourse)="getDataRowsourse($event)" (ongridReady)="gridReady($event)"></app-beon-grid>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" aria-labelledby="AddEditModalToggleLabel" #addEditModal id="AddEditModalToggle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-modal-width">
    <div class="form-box modal-content">
      <div class="popup">
        <div class="popup-title">
          <h3 *ngIf="EducationLevel.id">
            {{
            "i18n.configuration.educationLevelDetails.editeducationlevel"
            | translate
            }}
          </h3>
          <h3 *ngIf="!EducationLevel.id">
            {{
            "i18n.configuration.educationLevelDetails.addeducationlevel" | translate
            }}
          </h3>
        </div>
        <div>
          <button type="button" #closeButton (click)="closeModal()" class="btn-close btn-close-white"
            data-bs-dismiss="modal"></button>
        </div>
        <!-- (click)="onRemoveClick()" aria-label="Close" -->
      </div>
      <form (ngSubmit)="SaveEducationLevel()">
        <div class="form-fields three-column popup-forms">

          <div>
            <label for="relevant-work-experience">{{
              "i18n.configuration.educationLevelDetails.educationlevel"
              | translate
              }}</label>
            <input type="text" id="Level" name="level" [(ngModel)]="EducationLevel.level" placeholder="{{
                  'i18n.configuration.educationLevelDetails.graduation'
                    | translate
                }}" required />
          </div>
        </div>
        <input type="submit" class="btn btn-primary ml-25 mb-20" value="{{ 'i18n.Common.Update' | translate }}"
          *ngIf="EducationLevel.id" />
        <input type="submit" class="btn btn-primary ml-25 mb-20" value="{{ 'i18n.Common.Add' | translate }}"
          *ngIf="!EducationLevel.id" />
      </form>
    </div>
  </div>
</div>

<!--Delete Modal -->
<div class="Modal" *ngIf="showDeleteModal">
  <div class="Modal-content">
    <div class="Modal-header">
      <h2 class="fnt-color"><strong>{{ 'i18n.Common.DeleteConfirmation' | translate }} </strong></h2>
    </div>
    <div class="Modal-body">
      <span>
        {{ 'i18n.Common.SureDelete' | translate }}
        <span> {{ DeleteEducationLevel }} ? </span>
      </span>
    </div>
    <div class="Modal-footer">
      <button type="button" class="btn btn-secondary me-2" (click)="cancelDelete()" data-dismiss="modal">
        {{ 'i18n.Common.Cancel' | translate }}
      </button>
      <button type="button" class="btn btn-danger" (click)="deleteItem()">
        {{ 'i18n.Common.Delete' | translate }}
      </button>
    </div>
  </div>
</div>