<div class="right__part">
    <div class="cont cont1_1">
        <div class="common_form">
            <div class="common_title">
                <h2 class="h2">Job Title and Role</h2>
            </div>
            <div class="form_fields">
                <form>
                    <ul>
                        <li>
                            <label>Initial SLG Status</label>
                            <select>
                                <option>SLG 1</option>
                                <option>SLG 2</option>
                                <option>SLG 3</option>
                            </select>
                        </li>
                        <li>
                            <label>Designation</label>
                            <select>
                                <option>Team Leader</option>
                                <option>Project Leader</option>
                                <option>Sr.Developer</option>
                            </select>
                        </li>
                        <li>
                            <label>Role</label>
                            <select>
                                <option>HR</option>
                                <option>Project Leader</option>
                                <option>Sr.Developer</option>
                            </select>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>